<app-modify-content-component
  (insertSongEvent)="addContentToList($event)"
  [parentData]="formButtonTitle"
></app-modify-content-component>
<div class="content-fluid">
  <hr />

  <div class="row p-4">
    <div
      class="col-md-3 mb-4 d-flex align-items-stretch"
      *ngFor="let item of items; let first = first; let last = last"
    >
      <mat-card
        [appHoverAffect]="first || last ? 'border' : ''"
        defaultColor="violet"
      >
        <img
          class="card-img-top"
          height="400px"
          src="{{ item.imgURL }}"
          alt="Card image cap"
          *ngIf="item.imgURL"
        />
        <img
          class="card-img-top"
          height="400px"
          src="{{ defaultImgUrl }}"
          alt="Card image cap"
          *ngIf="!item.imgURL"
        />
        <mat-card-title class="mt-4">
          <header [appHoverAffect]="'textDecoration'">
            {{ item.title }}
          </header></mat-card-title
        >
        <mat-card-content>
          <a [routerLink]="['/list', item.id]" routerLinkActive="active">
            See More Details
          </a>

          <app-modify-content-component
            (insertSongEvent)="addContentToList($event)"
            [parentData]="'Update Song'"
            [cardData]="item"
          ></app-modify-content-component>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
