header {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-border-2 {
  border: 2px solid black !important;
}

.card-border-filter {
  border: 6px solid #32de84 !important;
  box-shadow: 0 12px 24px #32de8444;
}
